# Path to phpcs launch file.
PHPCS_BIN="phpcs"

# The coding standard, you can also specify a path to your own standard here.
# e. g. /path/to/my/standard/dir/
PHPCS_CODING_STANDARD=PEAR

# Comma-separated list of file patterns being ignored.
PHPCS_IGNORE=

# Egrep compatible pattern of  files to be checked.
PHPCS_FILE_PATTERN="\.(php|phtml|js|css)$"
