<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Profile>
        <Path>
            <AbsRootWeb>http://dc1/gv/</AbsRootWeb>
            <AbsScript>/var/www/gv/gveniver/profile/Dummy/scripts/</AbsScript>
            <AbsScriptWeb>http://dc1/gv/gveniver/profile/Dummy/scripts/</AbsScriptWeb>
            <AbsStyle>/var/www/gv/gveniver/profile/Dummy/styles/</AbsStyle>
            <AbsStyleWeb>http://dc1/gv/gveniver/profile/Dummy/styles/</AbsStyleWeb>
            <AbsImage>/var/www/gv/gveniver/profile/Dummy/images/</AbsImage>
            <AbsImageWeb>http://dc1/gv/gveniver/profile/Dummy/images/</AbsImageWeb>
            <AbsUpload>/var/www/gv/gveniver/profile/Dummy/upload/</AbsUpload>
            <AbsUploadWeb>http://dc1/gv/gveniver/profile/Dummy/upload/</AbsUploadWeb>
            <AbsCache>/var/www/gv/gveniver/profile/Dummy/cache/</AbsCache>
            <AbsCacheWeb>http://dc1/gv/gveniver/profile/Dummy/cache/</AbsCacheWeb>
            <AbsExtension>/var/www/gv/gveniver/profile/Dummy/extension/</AbsExtension>
            <AbsTemplate>/var/www/gv/gveniver/profile/Dummy/templates/</AbsTemplate>
        </Path>
        <SectionList>
			<!-- Default section. -->
			<Default>
				<MainTemplate>cms_main_enter.tpl</MainTemplate>
				<Title>What about FAAAAAAAAAAT???</Title>
				<SubTitle>Dummy profile</SubTitle>
				<ContentType><![CDATA[text/html; charset=utf-8]]></ContentType>
				<Keywords>sex,drugs,rocknroll</Keywords>
				<Author>http://example.com/</Author>
				<Robots>INDEX</Robots>
				<StyleList>
					<Style><FileName>style.css</FileName></Style>
				</StyleList>
				<ScriptList></ScriptList>
				<InvarsList></InvarsList>
			</Default>

			<List>
				<!-- Index. -->
				<Section>
					<ActList>
						<Default><FileName>center_index_index.tpl</FileName></Default>
					</ActList>
					<Name>index</Name>
				</Section>
				
			</List>
		</SectionList>
    </Profile>
    <Module>
        <TemplateModule>
            <SmartyDirCache>/var/www/gv/gveniver/profile/Dummy/cache/</SmartyDirCache>
            <SmartyDirTemplate>/var/www/gv/gveniver/profile/Dummy/templates/</SmartyDirTemplate>
            <SmartyDirCompile>/var/www/gv/gveniver/profile/Dummy/templates_c/</SmartyDirCompile>
            <SmartyDirConfig>/var/www/gv/gveniver/profile/Dummy/</SmartyDirConfig>
		</TemplateModule>
    </Module>
</Configuration>