<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Kernel>
        <Debug>true</Debug>
        <DisplayErrors>1</DisplayErrors>
        <EnableCache>1</EnableCache>
        <Encoding>utf-8</Encoding>
        <ErrorReporting>2047</ErrorReporting>
        <ErrorReportingType>exception</ErrorReportingType>
        <ForceCompression>false</ForceCompression>
        <Locale>ru_RU</Locale>
        <PreferDeflate>0</PreferDeflate>
        <StartSession>false</StartSession>
        <Timezone>Europe/Moscow</Timezone>
        <UseOutputBuffering>0</UseOutputBuffering>
    </Kernel>
    <Module>
        <CacheModule>
            <Providers>
                <Provider>
                    <ProviderClass>FileCacheProvider</ProviderClass>
                    <ProviderName>First</ProviderName>
                </Provider>
                <Provider>
                    <ProviderClass>FileMemoryCacheProvider</ProviderClass>
                    <ProviderName>Second</ProviderName>
                </Provider>
                <Provider>
                    <ProviderClass>MemcachedCacheProvider</ProviderClass>
                    <ProviderName>third</ProviderName>
                    <Servers>
                        <Server>
                            <Name>localhost</Name>
                            <Host>127.0.0.1</Host>
                        </Server>
                    </Servers>
                </Provider>
            </Providers>
        </CacheModule>
        <DataModule>
            <Providers>
                <Provider>
                    <Dsn>mysql:host=localhost;dbname=dbprofclub</Dsn>
                    <Password>root</Password>
                    <ProviderClass>PdoDataProvider</ProviderClass>
                    <ProviderName>First</ProviderName>
                    <User>root</User>
                </Provider>
                <Provider>
                    <Database>dbprofclub</Database>
                    <Host>localhost</Host>
                    <Password>root</Password>
                    <ProviderClass>MySqlDataProvider</ProviderClass>
                    <ProviderName>Second</ProviderName>
                    <User>root</User>
                </Provider>
                <Provider>
                    <ProviderClass>MongoDbDataProvider</ProviderClass>
                    <ProviderName>MongoDb</ProviderName>
                </Provider>
            </Providers>
        </DataModule>
        <LogModule>
            <Level>255</Level>
            <Providers>
                <Provider>
                    <Class>StreamLogProvider</Class>
                    <StreamName>php://stderr</StreamName>
                </Provider>
                <Provider>
                    <Class>FileLogProvider</Class>
                    <FileName>log/error.log</FileName>
                </Provider>
                <Provider>
                    <Class>EmailLogProvider</Class>
                    <Recipient>eas@prof-club.ru</Recipient>
                    <Sender>mail@prof-club.ru</Sender>
                    <Subject>Error log</Subject>
                </Provider>
            </Providers>
        </LogModule>
        <TemplateModule>
            <DelimiterBegin>{</DelimiterBegin>
            <DelimiterEnd>}</DelimiterEnd>
            <Ext>tpl</Ext>
            <FactoryClass>Smarty3TemplateFactory</FactoryClass>
            <Separator>_</Separator>
            <SmartyDirCache>C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\projects\gveniver\profile\Dummy\cache\</SmartyDirCache>
            <SmartyDirTemplate>C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\projects\gveniver\profile\Dummy\templates\</SmartyDirTemplate>
            <SmartyDirCompile>C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\projects\gveniver\profile\Dummy\templates_c\</SmartyDirCompile>
            <SmartyDirConfig>C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\projects\gveniver\profile\Dummy\</SmartyDirConfig>
        </TemplateModule>
        <InvarModule>
            <SectionKeyName>section</SectionKeyName>
            <SectionKeyTemplate>%section%</SectionKeyTemplate>
            <ActionKeyName>action</ActionKeyName>
            <ActionKeyTemplate>%action%</ActionKeyTemplate>
            <LoaderClass>HfuInvarLoader</LoaderClass>
        </InvarModule>
    </Module>
    <Profile>
        <UseScriptTemplate>1</UseScriptTemplate>
        <UseStyleTemplate>1</UseStyleTemplate>
        <CacheScript>1</CacheScript>
        <CacheStyle>1</CacheStyle>
    </Profile>
</Configuration>