<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Module>
        <TemplateModule>
            <SmartyDirCache>/var/www/gv/eas/sub/Profiles/Dummy/cache/</SmartyDirCache>
            <SmartyDirTemplate>/var/www/gv/eas/sub/Profiles/Dummy/templates/</SmartyDirTemplate>
            <SmartyDirCompile>/var/www/gv/eas/sub/Profiles/Dummy/templates_c/</SmartyDirCompile>
            <SmartyDirConfig>/var/www/gv/eas/sub/Profiles/Dummy/</SmartyDirConfig>
		</TemplateModule>
    </Module>
    <Profile>
        <Path>
            <AbsRootWeb>http://dc1/lib/Gveniver/</AbsRootWeb>
            <AbsScript>/var/www/gv/eas/sub/Profiles/Dummy/scripts/</AbsScript>
            <AbsScriptWeb>http://dc1/lib/Gveniver/sub/Profiles/Dummy/scripts/</AbsScriptWeb>
            <AbsStyle>/var/www/gv/eas/sub/Profiles/Dummy/styles/</AbsStyle>
            <AbsStyleWeb>http://dc1/lib/Gveniver/sub/Profiles/Dummy/styles/</AbsStyleWeb>
            <AbsImage>/var/www/gv/eas/sub/Profiles/Dummy/images/</AbsImage>
            <AbsImageWeb>http://dc1/lib/Gveniver/sub/Profiles/Dummy/images/</AbsImageWeb>
            <AbsUpload>/var/www/gv/eas/sub/Profiles/Dummy/upload/</AbsUpload>
            <AbsUploadWeb>http://dc1/lib/Gveniver/sub/Profiles/Dummy/upload/</AbsUploadWeb>
            <AbsCache>/var/www/gv/eas/sub/Profiles/Dummy/cache/</AbsCache>
            <AbsCacheWeb>http://dc1/lib/Gveniver/sub/Profiles/Dummy/cache/</AbsCacheWeb>
            <AbsExtension>/var/www/gv/eas/sub/Profiles/Dummy/extension/</AbsExtension>
            <AbsTemplate>/var/www/gv/eas/sub/Profiles/Dummy/templates/</AbsTemplate>
        </Path>
        <SectionList>
			<Default>
                <ActList>
                    <Act><Value>v</Value><FileName>act_index_v.tpl</FileName></Act>
                    <Default><FileName>act_index.tpl</FileName></Default>
                </ActList>
                <Author>http://example.com/</Author>
				<ContentType><![CDATA[text/html; charset=utf-8]]></ContentType>
                <InvarsList></InvarsList>
                <Keywords>sex,drugs,rocknroll</Keywords>
				<MainTemplate>main_enter.tpl</MainTemplate>
                <Robots>INDEX</Robots>
                <ScriptList>
                    <Script><FileName>script1.js</FileName></Script>
                    <Script><FileName>script2.js</FileName></Script>
                </ScriptList>
                <StyleList>
					<Style><FileName>style.css</FileName></Style>
				</StyleList>
                <SubTitle>Dummy profile</SubTitle>
				<Title>Default section</Title>
			</Default>
			<List>
				<Section>
					<ActList>
                        <Act><Value>v</Value><FileName>act_index_v.tpl</FileName></Act>
						<Default><FileName>act_index.tpl</FileName></Default>
					</ActList>
                    <MainTemplate>main_enter_index.tpl</MainTemplate>
					<Name>index</Name>
				</Section>
			</List>
		</SectionList>
    </Profile>
</Configuration>