<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Profile>
		<Path>
			<AbsRoot>/var/www/gv/</AbsRoot>
			<AbsRootWeb>http://dc1/gv/</AbsRootWeb>
			<AbsScript>/var/www/gv/profile/Dummy/scripts/</AbsScript>
			<AbsScriptWeb>http://dc1/gv/profile/Dummy/scripts/</AbsScriptWeb>
			<AbsStyle>/var/www/gv/profile/Dummy/styles/</AbsStyle>
			<AbsStyleWeb>http://dc1/gv/profile/Dummy/styles/</AbsStyleWeb>
			<AbsImage>/var/www/gv/profile/Dummy/images/</AbsImage>
			<AbsImageWeb>http://dc1/gv/profile/Dummy/images/</AbsImageWeb>
			<AbsUpload>/var/www/gv/profile/Dummy/upload/</AbsUpload>
			<AbsUploadWeb>http://dc1/gv/upload/</AbsUploadWeb>
			<AbsCache>/var/www/gv/profile/Dummy/cache/</AbsCache>
			<AbsCacheWeb>http://dc1/gv/profile/Dummy/cache/</AbsCacheWeb>
			<AbsExtension>/var/www/gv/src/extension/</AbsExtension>
			<AbsTemplate>/var/www/gv/profile/Dummy/templates/</AbsTemplate>
		</Path>
    </Profile>
    <Module>
		<TemplateModule>
            <SmartyDirCache>/var/www/gv/profile/Dummy/cache/</SmartyDirCache>
            <SmartyDirTemplate>/var/www/gv/profile/Dummy/templates/</SmartyDirTemplate>
            <SmartyDirCompile>/var/www/gv/profile/Dummy/templates_c/</SmartyDirCompile>
            <SmartyDirConfig>/var/www/gv/profile/Dummy/</SmartyDirConfig>
		</TemplateModule>
    </Module>
</Configuration>